[req]
default_bits = 4096
encrypt_key  = yes
default_md   = sha256
prompt       = no
utf8         = yes
distinguished_name = req_distinguished_name
req_extensions = v3_req
[req_distinguished_name]
C  = RU
ST = Moscow
L  = Moscow
O  = ORG
CN = Service client cert
[v3_req]
basicConstraints     = CA:FALSE
subjectKeyIdentifier = hash
extendedKeyUsage     = clientAuth